<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" type="text/css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>File Sharing</title>
	</head>
	<body>
		<div class="container">
			<h1>Share Files Securely</h1>

			<% if (locals.fileLink != null) { %>
			<div class="link">
				<p>Your file has been uploaded successfully!</p>
				<a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
			</div>
			<% } %>

			<form action="/upload" method="post" enctype="multipart/form-data">
				<label for="file">Choose a file to share:</label>
				<input type="file" id="file" name="file" required />

				<label for="password">Set a password (optional):</label>
				<input type="password" id="password" name="password" placeholder="Leave empty for no password" />

				<button type="submit">Share File</button>
			</form>
		</div>
	</body>
</html>
