<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>File sharing</title>
  </head>
  <body>
    <% if (locals.fileLink != null) { %>
    <div class="link">
      Your file is uploaded
      <a href="<%= locals.fileLink %> "><%= locals.fileLink %></a>
    </div>
    <%}%>

    <form action="/share/upload" method="post" enctype="multipart/form-data">
      <label for="file">File:</label>
      <input type="file" id="file" name="file" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <button type="submit">Share</button>
    </form>
  </body>
</html>
