<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" type="text/css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>File Sharing</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<a href="/" class="logo-link">
					<img src="/favicon.svg" alt="File Sharing Logo" class="logo" />
				</a>
				<h1>Password Protected File</h1>
			</div>

			<% if (locals.error) { %>
			<div class="error">
				<p>Incorrect password. Please try again.</p>
			</div>
			<% } %> <% if (locals.success) { %>
			<div class="success">
				<p>Password correct! Your download will begin shortly...</p>
			</div>
			<% } %>

			<form method="post" id="passwordForm">
				<label for="password">Enter the password to access this file:</label>
				<input type="password" id="password" name="password" required placeholder="Enter the file password" autofocus />
				<button type="submit">Download File</button>
			</form>
		</div>

		<% if (locals.success && locals.downloadUrl) { %>
		<script>
			// Wait a moment to show the success message before starting download
			setTimeout(() => {
				window.location.href = '<%= locals.downloadUrl %>';
			}, 1000);
		</script>
		<% } %>
	</body>
</html>
