<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>File sharing</title>
  </head>
  <body>
    <% if(locals.fileLink != null) { %>
    <div class="link">
      Your file is uploaded
      <a id="fileLink" href="<%= locals.fileLink %> "><%= locals.fileLink %></a>
      <button id="copy">Copy Link</button>
    </div>
    <% } %>
  </body>
  <script>
    document.getElementById('copy').addEventListener('click', () => {
      const fileLink = document.getElementById('fileLink');
      navigator.clipboard.writeText(fileLink.href);
    });
  </script>
</html>
