.link,
.error,
form {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  max-width: 500px;
  margin: 0 auto;
}

button {
  grid-column: span 2;
}

.link {
  margin-bottom: 1rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}
